<main class="p-5">
 <div class="card p-5">
    <p id="test">
        hello everyone
    </p>
    <p id="test">
        hello everyone
    </p>
    <p>
        hello everyone
    </p>
    <span>Tester</span>
 </div> 

 <div>Block</div>  
 <div>Block</div> 
 <div>Block</div> 
 <div>Block</div> 
 <div>Block</div> 

 <span class="block">Inline-block</span>
 <span>Inline</span>
 <span>Inline</span>
 <span>Inline</span>
 <span>Inline</span> 

</main>