 {{#with data}}
 <div class="post">
        <strong class="post_yiyle">{{title}}</strong>
        <div class="post_info">{{date}} <span class="post_author">{{author}}</span></div>
        <p class="post_deskription">{{description}}</p>
        <a href="#">link</a>
      </div>
 {{/with}}